@import '../../../properties.css';

.module {
  display: block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.25rem;
  text-align: left;
  font-size: var(--font-size-m);
  color: var(--color-gray-dk);
  text-decoration: none;
}

.module:hover {
  background: var(--color-background);
  transition: var(--hover-animation);
}
