@import '../../../properties.css';

.button {
  transition: var(--hover-animation);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  line-height: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: transparent;
  border-width: 1px;
  border-radius: var(--radius);
  align-items: center;
  display: inline-flex;
}

.button:hover {
  opacity: 0.25;
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.25;
}

.default {
  background-color: var(--color-gray-dk);
  color: var(--color-white);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-text-outlined);
}

.warning {
  background-color: var(--color-warning);
  color: var(--color-text-outlined);
}
