@import '../../../properties.css';

.h {
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
}

.h1 {
  font-size: var(--font-size-xxl);
}
.h2 {
  font-size: var(--font-size-xl);
}
.h3 {
  font-size: var(--font-size-l);
}
.h4 {
  font-size: var(--font-size-m);
}
.h5 {
  font-size: var(--font-size-s);
}
.h6 {
  font-size: var(--font-size-xs);
}

.underlined {
  border-bottom: var(--border);
  padding-bottom: var(--space);
}

.outlined {
  color: var(--color-text-outlined);
}
