@import "../../../properties.css";

.module {
  border: none;
  max-width: 640px;
}

.checkbox[aria-invalid="true"] {
  border-color: var(--color-warning);
}

.label {
  display: flex;
  align-items: center;
  column-gap: var(--space);
}

.bottom {
  display: flex;
  justify-content: space-between;
  min-height: 18px;
}

.error {
  flex-grow: 1;
}
